

body {
    background-color: #646464;
    background-image: url(Images/stage.jpg);
}

#display{
    position: fixed;
    top: 150px;
    width: 100%;
    text-align: center;
    /*background-color: darkblue;*/
}

#display img {
    filter: drop-shadow(16px 16px 5px rgb(0, 0, 0));
    border-radius: 15%;
    max-height: 200px;
}

#gallery {
    margin-top: 200px;
}

#gallery img {
    border-radius: 15%;
    max-height: 200px
}

#header {
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#header a{
    color: greenyellow;
    
    border-style: solid;
    border-color: aliceblue;
    border-width: 3px;
}

#hiddenheader {
    min-height: 110px
}

#logo {
    max-height: 100px;
}

#scene div{
    left:0px;
    right: 0px
}

#stage {
    text-align: center;
}


#boy {
    text-align: center;
    margin-top: 20%;
}

#valid  {
    color:red;
}