/*this is just random css for now*/
p {
    background-color: rgb(60, 255, 0);
}

body {
    background-image: url("Images/background.jpeg");
    background-color: #000000;
}

#display{
    position: fixed;
    left: 50%;
    top: 150px;
    margin-left: -5%;
}

#display img {
    filter: drop-shadow(16px 16px 5px rgb(0, 0, 0));
    border-radius: 15%;
    max-height: 200px
}

#gallery {
    margin-top: 200px;
}

#header {
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

#header a{
    color: greenyellow;
    
    border-style: solid;
    border-color: aliceblue;
    border-width: 3px;
}

#hiddenheader {
    min-height: 110px
}

#logo {
    max-height: 100px;
}